OPENSEARCH_ADMIN_PASSWORD={{ opensearch_admin_password }}
OPENSEARCH_VERSION={{ opensearch_version }}
OPENSEARCH_DASHBOARDS_VERSION={{ opensearch_dashboards_version }}
VAULT_VERSION={{ vault_version }}
